<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Just an image -->
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="/">
            <img src="/logo.png" width="30" height="30" alt="">
        </a>
    </nav>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Isco170/Book-lover/blob/master/README.md" target="_blank">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/francisco-andré-201687206" target="_blank">Contact</a>
        </li>
      </ul>
      <section>
        <a href="#" class="logo"></a>
      </section>
    </div>
  </nav>
  <br>