<%- include('./partials/header.ejs') %> 
<%- include('./partials/navbar.ejs') %>    
    <div class="container-found">
        <h2>Oops! Book not found.</h2>
        <h1>404</h1>
        <p>We can't find the requested book</p>
        <a href="/">Search again</a>
    </div>